# Uncomment and add token to publish manually:
# //registry.npmjs.org/:_authToken=YOUR_NPM_TOKEN

# For GitHub Packages:
# @stolinski:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=YOUR_GITHUB_TOKEN
